@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container{    
    max-width: 700px;
    background-color: white;
    border-radius: 1.5em;
    box-shadow: #ddd;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

hr {
    box-sizing: border-box;
    display: block;
    padding-left: 1em;
  }

ul{
    list-style: none;
    font-size: 0.75em;
    text-align: center;
}

li{
    display: inline-block;
    padding: 0.75em;
}

a{
    text-decoration: none;
    color: #777;
}

header{
    text-align: center;
}

.date{
    width: auto;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}
h1{
    font-family: "Abril Fatface", serif ;
    font-size: 3em;
    margin-bottom: -0.1em;
}

h2{
    font-family: "Roboto Slab", serif;
    text-align: left;
    padding: 0.5em;
}

h4{
    font-family: "Roboto Slab", serif;
}

h5{
    font-family: "Roboto Slab", serif;
    text-align: left;
    padding-left: 0.5em;
    color: #dd3232;
}

.more-articles{
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    font-family: "Roboto Slab", serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", serif;
    text-align: center;
    background-color: #eee;
}

#frontPage{
    box-sizing: border-box;
    display: block;
    width: 100%;  
}

p{
    text-align: left;
    padding-left: 1em;
    font-size: 14px;
}

section{
    display: inline-block;
    font-family: "Source Sans Pro", serif;
    width: 300px;
    padding: 1em 1em 1em 1em;
    font-size: 15px;
}